{{#has tag="
       #daily-gongyo-shodai,
       #mei-ri-qin-xing-ji-ti-mu-hui,

       #oko-ceremony,
       #yi-jiang-fa-hui,

       #ksrf-ceremony,
       #guang-xuan-liu-bu,

       #kaimyopowerbank,
       #kai-miao-fo-xue-ku,

       #gokaimyo,
       #yi-tong-dao-kai-miao,

       #nichiren-shoshu,
       #ri-lian-zheng-zong,

       #okyobi,
       #yu-jing-ri,

       #urabon,
       #yu-lan-pen,

       #higan-e,
       #bi-an-hui,

       #gonan-e,
       #yu-nan-hui,

       #hp-memorial,
       #hp-hui-ji-fa-yao

       "
}}

    {{#has tag="#daily-gongyo-shodai"}}
        <p>Join us online for daily morning and evening gongyo, as well as afternoon shodai</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap here to join Facebook livestream</a></p>
    {{/has}}
    {{#has tag="#mei-ri-qin-xing-ji-ti-mu-hui"}}
        <p>欢迎大家透过 Facebook 直播，一同参与每日的朝晚勤行及午间题目会</p>
        <p><a href="{{excerpt}}" target="_blank">点击此处加入Facebook直播</a></p>
    {{/has}}

    {{#has tag="#oko-ceremony"}}
        <p>Oko Ceremony (for Kaimyo-in Believers only)</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap here to join livestream</a></p>
    {{/has}}
    {{#has tag="#yi-jiang-fa-hui"}}
        <p>御报恩御讲法会（仅限于開妙院信徒参与）</p>
        <p><a href="{{excerpt}}" target="_blank">点击此处开启直播</a></p>
    {{/has}}

    {{#has tag="#ksrf-ceremony"}}
        <p>Kosenrufu Shodai Ceremony (for Kaimyo-in Believers only)</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap here to join livestream</a></p>
    {{/has}}
    {{#has tag="#guang-xuan-liu-bu"}}
        <p>广宣流布唱题会（仅限于開妙院信徒参与）</p>
        <p><a href="{{excerpt}}" target="_blank">点击此处开启Zoom直播</a></p>
    {{/has}}

    {{#has tag="#kaimyopowerbank"}}
        <p>A safe online learning environment for Kaimyo-in believers to encourage oneself and others, enrich your faith though guidances collected across 18 years of Kaimyo Magazine archives</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap here to enter Kaimyo Powerbank</a></p>
    {{/has}}
    {{#has tag="#kai-miao-fo-xue-ku"}}
        <p>安全的线上学习环境，好让開妙院信徒在网路环境里继续鼓励自己与他人。透过18年累积的開妙刊物，增进您的信心与学习</p>
        <p><a href="{{excerpt}}" target="_blank">点击此处进入開妙佛学库</a></p>
    {{/has}}

    {{#has tag="#gokaimyo"}}
        <p>Seat capacity in Kaimyoin will be adjusted from time to time based on prevailing Safe Management measures</p>
    {{/has}}
    {{#has tag="#yi-tong-dao-kai-miao"}}
        <p>開妙院每日勤行及法会入场人数将根据现行安全管理措施不时调整</p>
    {{/has}}

    {{#has tag="#nichiren-shoshu"}}
        <p>Kofuzan Kaimyo-in is the only Nichiren Shoshu temple in Singapore, directly connected in faith and lineage to the Nichiren Shoshu Head Temple Taisekiji, in Japan</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap to visit the Nichiren Shoshu official website and find out more</a></p>
    {{/has}}
    {{#has tag="#ri-lian-zheng-zong"}}
        <p>「廣布山開妙院」是新加坡唯一与日莲正宗总本山大石寺，含有着意义深重之法统联结的日莲正宗寺院</p>
        <p><a href="{{excerpt}}" target="_blank">欢迎点击此处查阅日莲正宗官网，以了解更多详情</a></p>
    {{/has}}

    {{#has tag="#okyobi"}}
        <p>Okyobi Ceremony cum Evening Gongyo (for Kaimyo-in Believers only)</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap here to join livestream</a></p>
    {{/has}}
    {{#has tag="#yu-jing-ri"}}
        <p>御经日及晚间勤行（仅限于開妙院信徒参与）</p>
        <p><a href="{{excerpt}}" target="_blank">点击此处开启直播</a></p>
    {{/has}}

    {{#has tag="#urabon"}}
        <p>Urabon-e Ceremony</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap here to join livestream</a></p>
    {{/has}}
    {{#has tag="#yu-lan-pen"}}
        <p>盂兰盆法会</p>
        <p><a href="{{excerpt}}" target="_blank">点击此处开启Facebook直播</a></p>
    {{/has}}

    {{#has tag="#higan-e"}}
        <p>Higan-e Ceremony</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap here to join livestream</a></p>
    {{/has}}
    {{#has tag="#bi-an-hui"}}
        <p>彼岸会</p>
        <p><a href="{{excerpt}}" target="_blank">点击此处开启直播</a></p>
    {{/has}}

    {{#has tag="#gonan-e"}}
        <p>Gonan-e Ceremony</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap here to join livestream</a></p>
    {{/has}}
    {{#has tag="#yu-nan-hui"}}
        <p>御難会法要</p>
        <p><a href="{{excerpt}}" target="_blank">点击此处开启直播</a></p>
    {{/has}}

    {{#has tag="#hp-memorial"}}
        <p>3rd Year Memorial Ceremony for 67th High Priest Nikken Shonin</p>
        <p><a href="{{excerpt}}" target="_blank">Click/tap here to join livestream</a></p>
    {{/has}}
    {{#has tag="#hp-hui-ji-fa-yao"}}
        <p>67世日顕上人第三回忌法要</p>
        <p><a href="{{excerpt}}" target="_blank">点击此处开启直播</a></p>
    {{/has}}

{{else}}
    <p>{{excerpt words="44"}}</p>
{{/has}}
