{{!-- Introduction --}}
{{#if home}}
    <div id="intro">
        <h1>{{@site.title}}</h1>
        <h1>廣布山</h1>
        <h1>開妙院</h1>
        <p>{{@site.description}}</p>
        <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>
{{/if}}

{{!-- Header --}}
<header id="header">
    {{#if @site.logo}}
        <a href="{{@site.url}}/{{langCode}}" class="logo image"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
    {{else}}
        <a href="{{@site.url}}/{{langCode}}" class="logo">{{@site.title}}</a>
    {{/if}}
</header>
