{{{block "header"}}}

{{!-- Main --}}
<main id="main">

    {{!-- Featured Post --}}
    {{#get "posts" filter="featured:true+tag:{{langTag}}" include="tags" as |featured_post|}}
        {{#foreach featured_post}}
            <article class="post featured">
                <header class="major">
                    <h2><a href="{{url}}">{{title}}</a></h2>
                    {{> "excerpt"}}
                </header>
                {{#if feature_image}}
                <a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
                {{/if}}
                <ul class="actions special">
                    <li><a href="{{url}}" class="button large">{{{block "read_more"}}}</a></li>
                </ul>
            </article>
        {{/foreach}}
    {{/get}}

    {{!-- Posts --}}
    <section class="posts">

      {{#get "posts" filter="featured:false+tag:hash-home+tag:{{langTag}}" include="tags" as | posts|}}
        {{#foreach posts}}
        <article>
            <header>
                <h2><a href="{{url}}">{{title}}</a></h2>
            </header>
            {{#if feature_image}}
                <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
            {{/if}}
            {{> "excerpt"}}
            <ul class="actions special">
                <li><a href="{{url}}" class="button">{{{block "read_more"}}}</a></li>
            </ul>


        </article>
        {{/foreach}}
      {{/get}}
    </section>
</main>
