{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Main --}}
<main id="main">

    {{!-- Author info --}}
    {{#author}}
    <header class="author-header">
        {{#if profile_image}}
            <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
        {{/if}}
        <h1><a href="{{url}}">{{name}}</a></h1>
        {{#if bio}}
            <p class="content">{{bio}}</p>
        {{/if}}
        <div class="author-meta">
            {{#if location}}
            <div class="author-location icon fa-map-pin">{{location}} <span class="bull">&bull;</span></div>
            {{/if}}
            <div class="author-stats">
                {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} <span class="bull">&bull;</span>
            </div>
            {{#if website}}
            <a href="{{url}}" class="icon fa-globe" title="Website"><span class="label">Website</span></a>
            {{/if}}
            {{#if twitter}}
            <a href="{{twitter_url}}" class="icon fa-twitter" title="Twitter"><span class="label">Twitter</span></a>
            {{/if}}
            {{#if facebook}}
            <a href="{{facebook_url}}" class="icon fa-facebook" title="Facebook"><span class="label">Facebook</span></a>
            {{/if}}
            <a href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" class="icon fa-rss" target="_blank" rel="noopener"><span class="label" title="RSS">RSS</span></a>
        </div>
    </header>
    {{/author}}

    {{!-- Posts --}}
    <section class="posts">

        {{#foreach posts}}
        <article>
            <header>
                <span class="date">{{date format="MMM D, YYYY"}}</span>
                <h2><a href="{{url}}">{{title}}</a></h2>
            </header>
            {{#if feature_image}}
            <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
            {{/if}}
            <p>{{excerpt words="33"}}</p>
            <ul class="actions special">
                <li><a href="{{url}}" class="button">Full Story</a></li>
            </ul>
        </article>
        {{/foreach}}

    </section>

    {{!-- Pagination --}}
    {{pagination}}

    </main>