{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Main --}}
<main id="main">

    {{!-- Featured Post --}}
    {{#is "home"}}
    {{#get "posts" filter="featured:true" limit="1" as |featured_post|}}
        {{#foreach featured_post}}
            <article class="post featured">
                <header class="major">
                    <span class="date">{{date format="MMM D, YYYY"}}</span>
                    <h2><a href="{{url}}">{{title}}</a></h2>
                    <p>{{excerpt words="44"}}</p>
                </header>
                {{#if feature_image}}
                <a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
                {{/if}}
                <ul class="actions special">
                    <li><a href="{{url}}" class="button large">Full Story</a></li>
                </ul>
            </article>
        {{/foreach}}
    {{/get}}
    {{/is}}

    {{!-- Posts --}}
    <section class="posts">

        {{#foreach posts}}
        <article>
            <header>
                <span class="date">{{date format="MMM D, YYYY"}}</span>
                <h2><a href="{{url}}">{{title}}</a></h2>
            </header>
            {{#if feature_image}}
            <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
            {{/if}}
            <p>{{excerpt words="33"}}</p>
            <ul class="actions special">
                <li><a href="{{url}}" class="button">Full Story</a></li>
            </ul>
        </article>
        {{/foreach}}

    </section>

    {{!-- Pagination --}}
    {{pagination}}

</main>