{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Main --}}
<main id="main">

    {{!-- Tag info --}}
    {{#tag}}
    <header class="tag-header">
        <h1><a href="{{url}}">{{name}}</a></h1>
        {{#if description}}
            <p class="content">{{description}}</p>
        {{else}}
            <p>A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</p>
        {{/if}}
        {{#if feature_image}}
        <a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
        {{/if}}
    </header>
    {{/tag}}

    {{!-- Posts --}}
    <section class="posts">

        {{#foreach posts}}
        <article>
            <header>
                <span class="date">{{date format="MMM D, YYYY"}}</span>
                <h2><a href="{{url}}">{{title}}</a></h2>
            </header>
            {{#if feature_image}}
            <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
            {{/if}}
            <p>{{excerpt words="33"}}</p>
            <ul class="actions special">
                <li><a href="{{url}}" class="button">Full Story</a></li>
            </ul>
        </article>
        {{/foreach}}

    </section>

    {{!-- Pagination --}}
    {{pagination}}

    </main>