{{!< default}}
{{!-- The tag above means: insert everything in this file
  into the {body} of the default.hbs template --}}

{{#tag}}
    {{#if accent_color}}
        {{> "header" langCode="zh"}}
        {{> "zh"}}
    {{else}}
        {{> "header" langCode=""}}
        {{> "en"}}
    {{/if}}
{{/tag}}


{{!-- Main --}}
<main id="main">

    {{!-- Tag info --}}
    {{#tag}}
    <header class="tag-header">
        <h2><ga href="{{url}}">{{name}}</a></h2>
        {{#if description}}
            <p class="content">{{description}}</p>
        {{else}}
            <p>A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</p>
        {{/if}}
        {{#if feature_image}}
        <a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
        {{/if}}
    </header>
    {{/tag}}

    {{!-- Featured Post --}}
    {{#foreach posts}}
        {{#has tag="#featured"}}
            <article class="post featured">
                <header class="major">
                    <h3><a href="{{url}}">{{title}}</a></h3>
                    {{> "excerpt"}}
                </header>
                {{#if feature_image}}
                    <a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
                {{/if}}
                <ul class="actions special">
                    <li><a href="{{url}}" class="button large">{{{block "read_more"}}}</a></li>
                </ul>

            </article>
        {{/has}}
    {{/foreach}}

    {{!-- Posts --}}
    <section class="posts">
        {{#foreach posts}}
            {{#has tag="#featured"}}

            {{else}}
                <article>
                    <header>
                        <h3><a href="{{url}}">{{title}}</a></h3>
                    </header>
                    {{#if feature_image}}
                        <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
                    {{/if}}
                    {{> "excerpt"}}
                    <ul class="actions special">
                        <li><a href="{{url}}" class="button">{{{block "read_more"}}}</a></li>
                    </ul>
                </article>
            {{/has}}
        {{/foreach}}
    </section>

    </main>
